<tr>
  <td><%= gravatar_for lesson.user %></td>
  <td><%= link_to lesson.user.name, lesson.user %></td>
  <td><%= lesson.category.title %></td>
  <td><%= lesson.results.count %></td>
  <td><%= lesson.created_at.strftime "%Y/%m/%d" %></td>
  <td>
    <%= link_to 'Details', [lesson.category, lesson] %>
    <%= link_to 'Delete', admin_lesson_path(lesson), method: :delete,
      data: {confirm: "You sure?"}%>
  </td>
</tr>
