<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-2">
    <section class="user_info" id="user-info">
      <%= gravatar_for @user %>
      <p id="user-name">
        <%= @user.name %><br>
      </p>
    </section>

    <section>
      <strong>
        Learned <%= pluralize learned_words_amount(@user), "Word" %>
      </strong>
    </section>

    <section>
      <%= render 'shared/stat' %>
    </section>

    <section>
      <%= render 'shared/follow_form' if logged_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="activity">
      <%= render @activities %>
      <%= will_paginate @activities %>
    </section>
  </div>
</div>
