<% provide :title, @category.title %>
<% words_count = @words.count %>
<div class="lesson">
  <%= form_for [@category, @lesson] do |f| %>
    <%= f.fields_for :results do |builder| %>
      <div class="answersheet" data-index="<%= builder.index %>">
        <%= "#{@category.title} \t #{builder.index+1}/#{words_count}" %>
        <%= render 'result_fields', f: builder %>
      </div>
    <% end %>

    <button type="button" class="btn btn-default" id="prev">Prev</button>
    <button type="button" class="btn btn-default" id="next">Next</button>
    <%= f.submit "Submit", class: "btn btn-primary col-md-3 col-md-offset "%>
  <% end %>
</div>