<% provide :title, @category.title %>
<h1>Category</h1>
<div class="container ">
  <div class="d-category">
    <p class="c-title"> Title: </p>
    <p> &nbsp;&nbsp;&nbsp; <%= @category.title %> </p>

    <p class="c-title"> Description: </p>
    <p> &nbsp;&nbsp;&nbsp; <%= @category.description %> </p>
    <hr>
    <%= link_to 'Add Word', new_admin_category_word_path(@category), class: 'btn btn-primary' %>
    <%= link_to 'Back', admin_categories_path, class: 'btn btn-primary' %>
  </div> 

  <table class="table table-bordered">
    <tr>
      <td><strong> Sum of word: <%= @words.count %> </strong></td>
      <td><strong>Mean</strong></td>
      <%= will_paginate @words %>
    <tr>  
    <% @words.map do |word| %> 
      <tr>
        <td>
          <%= word.content %>
        </td>
        <td>
          <% word.answers.each do |answer| %>
            <%= answer.content if answer.correct == true %>
          <% end %>
        </td>   
        <td>
          <%= link_to "View", admin_category_word_path(@category, word) %>
        </td>     
      <tr>
    <% end %>
  </table>
  </div>

